<app-spinner *ngIf="cargando"></app-spinner>
<div *ngIf="!cargando">
    <h1><span class="titulo">Nombre:</span> {{ this.nombre }}</h1>
    <h2><span class="titulo">Email:</span> {{ this.email }}</h2>
    <h2><span class="titulo">Genero:</span> {{ this.genero }}</h2>
    <h2><span class="titulo">Status:</span> <span [ngStyle]="{ 'color': this.status == 'active' ? 'green' : 'red' }"> {{ this.status }}</span></h2>
</div>
<button class="btn btn-lg btn-primary mb-4" routerLink="/dashboard">Volver</button>
